main {
  .about_container {
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    @media (max-width: $mobile) {
      width: 325px;
    }

    .heading {
      margin: 60px auto 0px auto;
      font-size: 1.9rem;
    }

    #top {
      margin-top: 60px;
    }
    .profile_container {
      display: flex;
      align-items: center;
      margin: 30px 0px;
      width: 800px;
      @media (max-width: $mobile) {
        width: 325px;
        flex-direction: column;
      }

      .border {
        width: 100%;
      }

      .headshot {
        width: 32%;
        margin-right: 20px;
        border: 5px solid $teal;
        border-radius: 100%;
        @media (max-width: $mobile) {
          width: 50%;
        }
      }

      .headshot2 {
        width: 32%;
        margin-right: 20px;
        border: 5px solid $blue;
        border-radius: 100%;
        @media (max-width: $mobile) {
          width: 50%;
        }
      }

      img {
        margin: 20px 0px;
      }

      .profile {
        .profile_h1 {
          @media (max-width: $mobile) {
            text-align: center;
            line-height: 1.2;
          }
        }
      }
    }
  }
}
