footer {
  background-color: $blue;
  color: white;

  img {
    height: 25px;
    margin: 0px 8px;
  }
  .foot_container {
    margin: 0px auto;
    padding: 9px;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
