footer {
  background-color: $blue;
  color: white;

  img {
    height: 25px;
    margin: 0px 8px;
  }
  .foot_container {
    width: 800px;
    margin: 30px auto 0px auto;
    padding: 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $tablet) {
      width: 700px;
    }
    @media (max-width: $mobile) {
      width: 325px;
    }
    .foot_text {
      font-size: 1rem;
    }
  }
}
