nav {
  img {
    display: block;
    margin: 20px auto;
    height: 275px;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $blue;
    padding: 15px;
    a {
      text-decoration: none;
      color: white;
      margin: 0px 30px;

      :hover {
        color: $teal;
        text-decoration: underline;
      }
    }
    p {
      font-size: 1.2rem;
    }
  }
}
