nav {
  img {
    display: block;
    margin: 20px auto;
    height: 275px;
    @media (max-width: $tablet) {
      height: 225px;
    }
    @media (max-width: $mobile) {
      height: 150px;
    }
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $blue;
    padding: 15px;
    @media (max-width: $mobile) {
      flex-wrap: wrap;
    }
    a {
      text-decoration: none;
      color: white;
      margin: 0px 30px;
      @media (max-width: $mobile) {
        margin: 5px 15px;
        font-size: 0.8rem;
      }

      :hover {
        color: $teal;
        text-decoration: underline;
      }
    }
    p {
      font-size: 1.2rem;
    }
  }
}
