.services_navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $teal;
  padding: 15px;
  @media (max-width: $tablet) {
    flex-direction: column;
  }
  a {
    text-decoration: none;
    color: black;
    margin: 0px 30px;
    @media (max-width: $tablet) {
      flex-direction: column;
      margin: 5px auto;
    }

    :hover {
      color: $blue;
      text-decoration: underline;
    }
  }
  p {
    font-size: 1.2rem;
  }
}

.services_container {
  display: flex;
  flex-direction: column;
  @media (max-width: $tablet) {
    width: 90%;
  }

  .services_hero {
    margin: 8px 0px 0px 0px;
  }

  .services_heading {
    margin: 60px auto 60px auto;
  }

  .borders {
    margin: 20px 0px 30px 0px;
  }

  .card_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex-direction: column;
    }

    .cards {
      width: 32%;
      @media (max-width: $mobile) {
        width: 75%;
        margin: 30px auto;
      }

      .blue_borders {
        margin: 20px 0px 10px 0px;
        width: 100%;
        @media (max-width: $mobile) {
          width: 60%;
        }
      }

      .card_details {
        display: flex;
        justify-content: space-between;
        @media (max-width: $tablet) {
          flex-direction: column;
        }
      }
    }
  }

  .GNO_card_container {
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex-direction: column;
    }

    .GNO_cards {
      width: 46%;
      @media (max-width: $mobile) {
        width: 75%;
        margin: 30px auto;
      }

      .blue_borders_GNO {
        margin: 20px 0px 10px 0px;
        width: 75%;
        @media (max-width: $mobile) {
          width: 60%;
        }
      }
    }
  }

  .GNO_p {
    margin-bottom: 20px;
  }

  article {
    margin-bottom: 30px;
  }

  .article_border {
    margin: 20px 0px 15px 0px;
  }

  .article_border_headings {
    margin: 15px 0px 15px 0px;
  }

  p {
    margin-bottom: 10px;
  }

  .tags {
    font-size: 1rem;
  }

  h4,
  h5 {
    @media (max-width: $tablet) {
      line-height: 1.2;
    }
  }

  .nav_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

    .arrow {
      display: flex;
      @media (max-width: $mobile) {
        flex-direction: column;
      }
      a {
        text-decoration: none;

        :hover {
          color: $blue;
          text-decoration: underline;
        }
      }
      img {
        margin-left: 8px;
        @media (max-width: $mobile) {
          display: none;
        }
      }
    }
  }

  .wax_article {
    margin-bottom: 5px;
  }

  .wax_list {
    display: flex;
    margin-bottom: 60px;

    ul {
      margin-right: 80px;
      @media (max-width: $mobile) {
        margin-right: 20px;
      }

      li {
        margin-bottom: 15px;
      }
    }
  }

  .bottom_arrow {
    display: flex;
    justify-content: flex-end;
    a {
      text-decoration: none;
      :hover {
        color: $blue;
        text-decoration: underline;
      }
    }
    img {
      margin-left: 8px;
      @media (max-width: $mobile) {
        display: none;
      }
    }
  }
}
